@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}

.paper {
  padding: 2vh;
  text-align: center;
  color: #444;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form > * {
  margin: 1vw;

}
